{% assign authors = page.project.authors | default: site.project.authors %}
{% assign institution = page.project.institution | default: site.project.institution %}
{% assign conference = page.project.conference | default: site.project.conference %}
{% assign project_links = page.project.links | default: site.project.links %}

<!-- Page hero section -->
<div class="page__hero">
    <div class="wrapper container">
        <h1 id="page-title" class="page__title title" itemprop="headline">{{ page.title | default:
            site.title | markdownify | remove:
            "<p>" | remove: "</p>" }}</h1>
        <div class="publication-authors">
            {% for a in authors %}
            <span class="author-block">
                {% if a.url %}
                <a href="{{ a.url }}" target="_blank">{{ a.name }}</a>
                {% else %}
                <span>{{ a.name }}</span>
                {% endif %}
                {% unless forloop.last %}, {% endunless %}
            </span>
            {% endfor %}
        </div>
        <div class="publication-authors">
            <span class="author-block">{{ institution }}<br>{{ conference }}</span>
            <!-- TODO: add equal contribution if necessary
            <span class="eql-cntrb"><small><br><sup>*</sup>Indicates Equal Contribution</small></span> -->
        </div>

        <div class="publication-links">

            {% for link in project_links %}
            <span>
                <a href="{{ link.url }}" target="_blank" class="btn btn--primary btn--large">
                    <span class="icon">
                        <i class="{{ link.icon }}"></i>
                    </span>
                    <span>{{ link.label }}</span>
                </a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End page hero section -->